@import  url('./w3.css');
@import  url('./fa/css/font-awesome.min.css');
@import  url('./fa/font/lato/lato.css');

body {
  font-family: 'Lato', sans-serif;
  font-weight:400;
  font-size:14px;
  color:#444;
  height: 100%;
  line-height: 1.8;
}

/* Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First parallax (Logo. Full height) */
.bgimg-1 {
  background-image: url('../img/hands_bg.jpg');
  height:800px!important;
}

/* Second parallax (Portfolio) */
.bgimg-2 {
  background-image: url('../img/model_bg.jpg');
  min-height: 400px;
}

/* Third parallax (Contact) */
.bgimg-3 {
    background-image: url('../img/main_bg.jpg');
    min-height: 400px;
}

.top {
  background-color:#FFFFFF;
  opacity: 0.2;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
  }
}
*/